<div class="row" style="margin-top: 30px;">
    <div class="col-5"  >
        <div class="ct-chart ct-perfect-fourth"></div>
    </div>
    <div class="col-2"  id="contenedorCartera" > 
        
    </div>
    <div class="col-5"   > 
        <div class='row' style='font-size:30px;margin-bottom:20px'>
            <div class='col-2'>Moneda</div>
            <div class='col-2'>Tokens</div>
            <div class='col-2'>Capital</div>
            <div class='col-2'>Tipo</div>
            <div class='col-2'>Fecha</div>
        </div>
        <div class="row" >
            <div class='col-12' id="resumenMovimientos" style="height:300px;max-height:300px;overflow-y:scroll;">Moneda</div>
        </div>
    </div>
</div>

