<!-- Modal Inicio Sesión -->
<ng-template #inicioSesion let-c="close" let-d="dismiss">
    <div class="modal-header" style="background-color: #12161C;border-color:#12161C">
        <h4 class="modal-title letraCabecera" >Iniciar Sesión</h4>
        <button type="button" class="close" style="background-color: rgb(248, 209, 47);" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Correo o usuario:</label>
                <input type="text" id="inicioUsuario" name="correo" class="form-control" >
            </div>
            <div class="form-group">
                <label for="message-text" class="col-form-label">Contraseña:</label>
                <input type="password" id="inicioPassword" name="password" class="form-control" >
            </div>
            <div class="form-group" style="margin-top: 15px; text-align: center;">
                <div (click)="recuperarPassword()" style="margin-top: 15px; box-sizing: border-box;margin: 0;min-width: 0;-webkit-text-decoration: underline;text-decoration: underline;font-size: 12px;cursor: pointer;">Recuperar contraseña</div>
            </div>
            
        </form>
    </div>
    <div class="modal-footer" style="background-color: #12161C;">
      <button type="button" class="btn" style="background-color: rgb(248, 209, 47);" (click)="iniciarSesion()">Iniciar Sesión</button>
    </div>
</ng-template>
<!-- Fin Modal Inicio Sesión -->
<!-- Modal Registro -->
<ng-template #registro let-c="close" let-d="dismiss">
    <div class="modal-header" style="background-color: #12161C;border-color:#12161C">
        <h4 class="modal-title letraCabecera" >Registro</h4>
        <button type="button" class="close" style="background-color: rgb(248, 209, 47);" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label class="col-form-label">Correo:</label>
                <input type="text" maxlength="50" autocomplete="off" name="correo" class="form-control registro" >
            </div>
            <div class="form-group"> 
                <label class="col-form-label">Usuario:</label>
                <input type="text" name="usuario" autocomplete="off" maxlength="20" class="form-control registro" >
            </div>
            <div class="form-group">
                <label class="col-form-label">Contraseña:</label>
                <input type="password" id="registroPassword" autocomplete="off" name="password" maxlength="20" class="form-control registro" >
            </div>
            <div class="form-group">
                <label class="col-form-label">Repetir contraseña:</label>
                <input type="password" id="registroPasswordRepet" autocomplete="off" name="passwordRepet" maxlength="20" class="form-control registro" >
            </div>
        </form>
    </div>
    <div class="modal-footer" style="background-color: #12161C;">
      <button type="button" class="btn" autocomplete="off" style="background-color: rgb(248, 209, 47);" (click)="registrarUsuario()">Registrar</button>
    </div>
</ng-template>
<!-- Fin Modal Registro -->
<!-- Modal Añadir Saldo -->
<ng-template #saldo let-c="close" let-d="dismiss">
    <div class="modal-header" style="background-color: #12161C;border-color:#12161C">
        <h4 class="modal-title letraCabecera" >Saldo</h4>
        <button type="button" class="close" style="background-color: rgb(248, 209, 47);" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label class="col-form-label">Total Invertido:</label>
                <input type="text" disabled id="totalInvertido" class="form-control" >
            </div>
            <div class="form-group"> 
                <label class="col-form-label">Saldo Actual:</label>
                <input type="text" disabled id="saldoActual" class="form-control" >
            </div>
            <div class="form-group"> 
                <label class="col-form-label">¿Cuanto quieres invertir?</label>
                <input type="number" autocomplete="off" class="form-control" id="cuandoInvertir" >
            </div>
        </form>
    </div>
    <div class="modal-footer" style="background-color: #12161C;">
      <button type="button" class="btn" autocomplete="off" style="background-color: rgb(248, 209, 47);" (click)="invertir()">Invertir</button>
    </div>
</ng-template>
<!-- Fin Modal Añadir Saldo -->

    <div *ngIf="!registrado">
        <nav class="navbar navbar-expand-lg" style="background-color: #12161C;">
            <div class="container-fluid">
                <img src="../../assets/imagenes/coin.png" width="40" height="40" alt="" style="margin-left: 20px;">
                <a class="navbar-brand letraCabecera"  href="#">CryptoSimulator</a>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item" style="margin-right: 30px;">
                            <a class="nav-link letraCabecera" style="cursor:pointer" (click)="abrirModal(inicioSesion)">Iniciar Sesión</a>
                        </li>
                        <li class="nav-item" style="margin-right: 100px;">
                            <button class="btn btn-sm" style="margin-top: 5%;background-color: rgb(248, 209, 47);" (click)="abrirModal(registro)" type="button">Registrarse</button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div *ngIf="registrado=='True'">
        <nav class="navbar navbar-expand-lg" style="background-color: #12161C;">
            <div class="container-fluid">
                <img src="../../assets/imagenes/coin.png" width="40" height="40" alt="" style="margin-left: 20px;">
                <a class="navbar-brand letraCabecera"  href="#">CryptoSimulator</a>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item" style="margin-right: 50px;">
                            <a class="nav-link letraCabecera" style="cursor:pointer" (click)="resumen()">Resumen</a>
                        </li>
                        <li class="nav-item" style="margin-right: 50px;">
                            <a class="nav-link letraCabecera" style="cursor:pointer" (click)="abrirSaldoModal(saldo)">Saldo</a>
                        </li>
                        <li class="nav-item" style="margin-right: 50px;">
                            <button class="btn btn-sm" style="margin-top: 5%;background-color: rgb(248, 209, 47);" (click)="finalizarSesion(registro)" type="button">Desconectarse</button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    


