<div class="row" style="margin-top:30px;">
    <div class="col-3">
        <div class="row" >
            <div class="col-12" style="text-align:center; font-size:25px"> 
                <p (click)="redireccionar('bitcoin')" style="cursor: pointer;"><img src="../../assets/imagenes/bitcoin.png" width="50" height="50" alt="" style="margin-left: 20px;"><b id='titulo_bitcoin' style="margin-left: 15px;" class="orbitron"></b></p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="ct-chart ct-perfect-fourth" id="bitcoin"></div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="row" >
            <div class="col-12" style="text-align:center; font-size:25px">
                <p (click)="redireccionar('dogecoin')" style="cursor: pointer;"><img src="../../assets/imagenes/doge.png" width="40" height="40" alt="" style="margin-left: 20px;"><b id='titulo_dogecoin' style="margin-left: 15px;" class="orbitron"></b></p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="ct-chart ct-perfect-fourth" id="dogecoin"></div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="row"  >
            <div class="col-12" style="text-align:center; font-size:25px;">
                <p (click)="redireccionar('chiliz')" style="cursor: pointer;"><img src="../../assets/imagenes/chiliz.png" width="40" height="40" alt="" style="margin-left: 20px;"><b id='titulo_chiliz' style="margin-left: 15px;" class="orbitron"></b></p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="ct-chart ct-perfect-fourth" id="chiliz"></div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="row" >
            <div class="col-12" style="text-align:center; font-size:25px">
                <p (click)="redireccionar('cardano')" style="cursor: pointer;"><img src="../../assets/imagenes/cardano.png" width="40" height="40" alt="" style="margin-left: 20px;"><b id='titulo_cardano' style="margin-left: 15px;" class="orbitron"></b></p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="ct-chart ct-perfect-fourth" id="cardano"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <div class="row" >
            <div class="col-12" style="text-align:center; font-size:25px">
                <p (click)="redireccionar('vechain')" style="cursor: pointer;"><img src="../../assets/imagenes/vechain.png" width="40" height="40" alt="" style="margin-left: 20px;"><b id='titulo_vechain' style="margin-left: 15px;" class="orbitron"></b></p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="ct-chart ct-perfect-fourth" id="vechain"></div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="row" >
            <div class="col-12" style="text-align:center; font-size:25px">
                <p (click)="redireccionar('ethereum')" style="cursor: pointer;"><img src="../../assets/imagenes/ethereum.png" width="40" height="40" alt="" style="margin-left: 20px;"><b id='titulo_ethereum' style="margin-left: 15px;" class="orbitron"></b></p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="ct-chart ct-perfect-fourth" id="ethereum"></div>
            </div>
        </div>
    </div>
    
</div>


